<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weblanches</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>
<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
<script src="/customSandwiche.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Weblanches</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h2>
            Faça seu próprio lanche
        </h2>
        <table class="table">
            <thead>
                <td>Ingrediente</td>
                <td>Preço unitário</td>
                <td>Quantidade</td>
            </thead>
            <tbody>
                <tr th:each="ingredient : ${ingredients}">
                    <td><span th:text="${ingredient.name}" ></span></td>
                    <td><span th:text="${ingredient.formattedPrice}" ></span></td>
                    <td> <div class="btn" name="minus" th:value="${ingredient.ingredientEnum}"><i
                            class="glyphicon glyphicon-minus"></i></div>
                        <input th:id="'counter-' + ${ingredient.ingredientEnum}" th:value="0"
                               th:attr="ingredient-type=${ingredient.ingredientEnum}"/>
                        <div class="btn" name="plus" th:value="${ingredient.ingredientEnum}"><i
                                class="glyphicon glyphicon-plus"></i></div></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        Total:
                    </td>
                    <td>
                        <div class="right" id="result">

                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>